langchain==1.2.10
langchain-community==0.4.1
langchain-openai==1.1.10
chromadb==1.5.2
sentence-transformers==5.2.3
langchain-huggingface==1.2.1
langchain-chroma==1.1.0
gradio==6.8.0
openai==2.24.0
pypdf==6.7.5
unstructured==0.21.5
python-dotenv==1.2.2
pytest==9.0.2
markdown==3.10.2
nltk==3.9.3
requests==2.32.5
